body {
  background: #f8f9fc;
  font-family: 'Segoe UI', sans-serif;
}

.welcome-section {
  background: #ebe5ff;
  border-radius: 16px;
  padding: 40px;
}

.welcome-section h2 {
  color: #2d5be3;
  font-weight: 700;
}

.welcome-section p {
  color: #5c6bc0;
  font-size: 18px;
}

.stat-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  text-align: center;
  font-weight: 600;
  color: #2d5be3;
}

.dash-btn {
  background: linear-gradient(135deg, #4f7cff, #2d5be3);
  border: none;
  color: white;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.dash-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}
.row{
    justify-content: center;
}
.navbar-brand{
    font-size: 27px;
}

.order-card{
  background:#fff;
  border-radius:12px;
  padding:20px;
  margin-bottom:25px;
  box-shadow:0 4px 12px rgba(0,0,0,.08);
}

.order-head{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:10px;
}

.order-head h6{
  margin:0;
  font-weight:bold;
}

.order-status{
  padding:6px 14px;
  border-radius:20px;
  font-size:12px;
  font-weight:bold;
}

.status-pending{background:#fff3cd;color:#856404;}
.status-confirm{background:#d4edda;color:#155724;}
.status-rejected{background:#f8d7da;color:#721c24;}

.order-items{
  border-top:1px solid #ddd;
  margin-top:10px;
  padding-top:10px;
}

.order-row{
  display:flex;
  justify-content:space-between;
  margin-bottom:8px;
}

.order-total{
  text-align:right;
  font-weight:bold;
  color:#0d6efd;
  margin-top:10px;
}

.order-actions{
  display:flex;
  gap:10px;
  margin-top:10px;
}
